@charset "UTF-8";
body{
	margin:0px;
	background-color: #f8f8f8;
}
.main{
	overflow:hidden;
}
.title{
	margin-top: 50px; margin-bottom:30px; margin-left:58px;
	font-size : 60px; font-family: "Palatino",Arial,Helvetica,sans-serif; font-weight: bold;
	font-style: italic; text-align:left; 
	font-weight : 900;
	letter-spacing : 1px;
	background:linear-gradient( to right, #D1B2FF, #B2EBF4 );
	 -webkit-background-clip: text;
	 -webkit-text-fill-color: transparent;
	 float:left;
	 
}
#stitle{
	float:left; 
	margin-top: 55px; margin-bottom:30px; margin-left:20px;
	font-size : 40px; font-family: "Palatino",Arial,Helvetica,sans-serif; font-weight: bold;
	font-style: italic; text-align:left; 
	background:linear-gradient( to right, #D1B2FF, #B2EBF4 );
	 -webkit-background-clip: text;
	 -webkit-text-fill-color: transparent;
}
.submit{
	width:300px;  
	height:90px;
	margin-top:60px; margin-left: 50px; margin-bottom:40px;
    border-radius:50px; border:0px;
	color: #FFFFFF;
	font-size: 20px; 
	letter-spacing: 5px;
	text-align: center;
	cursor:pointer;
    background:linear-gradient( to right, #D1B2FF, #B2EBF4 );
}

.submit2{
	text-align: right;
	width:150px;
	height:40px;
	margin-top:20px; 
	margin-bottom:40px; border-radius:50px; border:0px;
	color: #FFFFFF;
	font-size: 16px; 
	letter-spacing: 5px;
	text-align: center;
	cursor:pointer;
    background:linear-gradient( to right, #D1B2FF, #B2EBF4 );
}
.submit3{
	text-align: right;
	width:150px;
	height:40px;
	margin-top:20px; margin-left:50px; margin-bottom:40px; border-radius:50px; border:0px;
	color: #FFFFFF;
	font-size: 16px; 
	letter-spacing: 3px;
	text-align: center;
	cursor:pointer;
    background:linear-gradient( to right, #D1B2FF, #B2EBF4 );
}

.box{
	padding:50px; margin:auto;  
	border:1px solid #EAEAEA;
	width: 85%;
	background:white; color:#D1B2FF; overflow:hidden;
}
#info{
	float:left;
	color:#5D5D5D;
}
#main{
	float:left;
}
#invitelist{
	float:left; color:grey; font-size:20px;  
}
#teamInvitelist{
	float:left; color:grey; font-size:20px;  
}
.invitelists{
	margin-bottom:30px; margin-left:58px;
}

/* 여기는 모달팝업부분  */
