@charset "UTF-8";
body{
	margin:0px;
	background-color: #f8f8f8;
}

#accesszone{
	position:absolute; top:50%; left:50%;
	transform:translate(-50%, -50%);
}


.box{
	width:485px;
	height:35px;
	padding:15px;
	font-size:17px; 
	font-weight:200;
	margin-bottom:10px; border-radius:50px; border:0px;
}

.submit{
	width:200px;
	height:90px;
	margin-top:10px;
	margin-bottom:40px; border-radius:50px; border:0px;
	color: #FFFFFF;
	font-size: 20px; 
	letter-spacing: 5px;
	text-align: center;
	cursor:pointer;
    background:linear-gradient( to right, #D1B2FF, #B2EBF4 );
}


